.DS_Store
.cache/
compile_commands.json

IncompSolver
IncompSolver.dSYM
VOF
VOF.dSYM

output/
output*/
notes/
python/*
!python/verify_laminar_channel.py
!python/verify_couette.py
venv/
*.ipynb
sample.txt
