.DS_Store
.cache/
.vscode/
compile_commands.json

IncompSolver
IncompSolver.dSYM
VOF
VOF.dSYM
Curvature
Curvature.dSYM
TwoPhaseSolver
TwoPhaseSolver.dSYM
IB
IB.dSYM
PhaseChange
PhaseChange.dSYM

*.env
run.slurm

output*/
notes/

*.stdout
*.stderr
scorep-*
